@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}
html{
  scroll-behavior: smooth;
}
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}
.modalBox{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.fixed-center{
  right: 50%;
  transform: translate(50%,0);
}